@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif; /* A default sans-serif font */
}

/* Comic dot pattern background */
.bg-comic-dots {
  background-color: #f0f0f0;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 10px 10px;
}

/* Custom scrollbar for a better look */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
